{% extends "layout.html" %}

{% set active_page = "401" %}

{% block body -%}
    <div class="alert alert-info" role="alert">
      <strong>You shall not pass.</strong>
      <br/><br/>
      Permission denied.<br/>
      <a href="{{ url_for('login') }}" class="alert-link">Please sign in.</a>
    </div>
{%- endblock %}
