{% extends "layout.html" %}

{% set active_page = "404" %}

{% block body -%}
    <div class="alert alert-info" role="alert">
      <strong>Grats. You broke it.</strong>
      <br/><br/>
      This page doesn't exist or some other horrible error has occurred.<br/>
      <a href="/" class="alert-link">Return to home page.</a>
    </div>
{%- endblock %}
