<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project name</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='bootstrap/3.2.0/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="{{ url_for('static', filename='html5shiv/3.7.2/html5shiv.min.js') }}"></script>
      <script src="{{ url_for('static', filename='respond/1.4.2/respond.min.js') }}"></script>
    <![endif]-->

    <link href="{{ url_for('static', filename='css/font.css') }}" rel="stylesheet">
    <style>
    {% block style -%}{% endblock %}
    </style>
  </head>
  <body>
  {% set navigation_bar = [
    ('/', 'home', 'Home'),
    ('/contact', 'contact', 'Contact'),
    ('/new', 'new', 'New Blog')
  ] -%}
  {% set active_page = active_page|default('home') -%}
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          {% for href, id, caption in navigation_bar -%}
            <li{% if id == active_page %} class="active"{% endif %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
          {% endfor -%}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if not session.logged_in -%}
            <li><a href="{{ url_for('login') }}">Log in</a></li>
            {% else -%}
            <li><a href="{{ url_for('logout') }}">Log out</a></li>
            {% endif -%}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      {%- for message in get_flashed_messages() %}
      <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        {{ message }}
      </div>
      {% endfor -%}
    {% block body %}{% endblock %}
    </div> <!-- /container -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename='jquery/1.11.1/jquery.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='bootstrap/3.2.0/js/bootstrap.min.js') }}"></script>
  {%- block script %}{% endblock %}
  </body>
</html>