{% extends "layout.html" %}

{% set active_page = "new" %}

{% block style -%}
  #editor {overflow:scroll; max-height:300px}
{%- endblock %}

{% block body -%}
      <form role="form" action="{{ url_for('add_entry') }}" method="post">
        <div class="form-group">
          <input type="text" name="title" class="form-control" placeholder="Title" required autofocus>
        </div>
        <div class="form-group">
          <textarea id="editor" name="text" class="form-control" placeholder="Text" required></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-default" type="submit">Share</button>
        </div>
      </form>
{%- endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
    <script>
      // Replace the <textarea id="editor"> with a CKEditor
      // instance, using default configuration.
      CKEDITOR.replace( 'editor' );
    </script>
{% endblock %}
