{% extends "layout.html" %}

{% set active_page = "home" %}

{% block style -%}
  #editor {overflow:scroll; max-height:300px}
{%- endblock %}

{% block body -%}

  {%- for entry in entries %}
      <div class="row">
        <h3>{{ entry.title }}</h3>
        <p>{{ entry.text|safe }}</p>
      </div>
  {%- else %}
      <div class="row">
        <div class="col-md-4">
          <div class="alert alert-success" role="alert"><strong>Unbelievable.</strong> No entries here so far.</div>
        </div>
      </div>
  {%- endfor %}

{%- endblock %}

{% block script %}{% endblock %}
